
.root {
  -fx-background-position: center;
    -fx-background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Airplane_silhouette.svg");




}
#pane{
    -fx-background-image: url("airplane.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 400 406;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);

}


.label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #OE1D33;
}
/*#login-text {
    -fx-font-size: 45px;
    -fx-font-family: "Arial Black";
    -fx-fill: blue;
}*/
#actiontarget {
    -fx-fill: WHITE;
    -fx-font-weight: bold;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);


}
